Repository hemilabs/fast-withdrawals-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, better-sort-package-json

Create basic contracts
  .gitignore
  .gitmodules
  .lintstagedrc.json
  README.md
  contracts/foundry.lock
  contracts/foundry.toml
  contracts/src/Pool.sol
  contracts/src/PoolFactory.sol
  contracts/test/Pool.t.sol
  contracts/test/PoolFactory.t.sol
  contracts/test/mocks/MockERC20.sol
  contracts/test/mocks/MockLayerZeroEndpoint.sol
  contracts/test/mocks/TestablePool.sol
Due: prettier --write

Add PoolFactory script deployment
  .gitignore
  contracts/.env.example
  contracts/README.md
  contracts/package.json
  contracts/scripts/README.md
  contracts/scripts/deploy-factory.ts
  contracts/tsconfig.json
  package-lock.json
Due: prettier --write, better-sort-package-json

Use struct for creating Pool
  contracts/src/Pool.sol
  contracts/src/PoolFactory.sol
  contracts/test/Pool.t.sol
  contracts/test/mocks/TestablePool.sol
Due: prettier --write

Update deployment scripts
  .gitignore
  contracts/package.json
  contracts/scripts/create-pool.ts
  contracts/scripts/deploy-factory.ts
  contracts/scripts/generate-abis.ts
  contracts/scripts/set-pool-peer.ts
  contracts/scripts/utils.ts
Due: prettier --write, better-sort-package-json

Add fast-bridge package
  .gitignore
  package-lock.json
  packages/fast-bridge/actions/index.ts
  packages/fast-bridge/actions/public/pool.ts
  packages/fast-bridge/actions/public/poolFactory.ts
  packages/fast-bridge/actions/wallet/pool.ts
  packages/fast-bridge/contracts/pool.ts
  packages/fast-bridge/contracts/poolFactory.ts
  packages/fast-bridge/index.ts
  packages/fast-bridge/package.json
  packages/fast-bridge/tsconfig.json
  packages/fast-bridge/types/bridge.ts
  packages/fast-bridge/utils/chainHelpers.ts
  packages/fast-bridge/utils/pool.ts
  packages/fast-bridge/utils/validation.ts
Due: prettier --write, better-sort-package-json

Add pool liquidity check
  contracts/src/Pool.sol
  packages/fast-bridge/actions/index.ts
  packages/fast-bridge/actions/public/pool.ts
  packages/fast-bridge/contracts/pool.ts
  packages/fast-bridge/utils/validation.ts
  website/src/components/form.tsx
  website/src/components/submitButton.tsx
  website/src/hooks/useLiquidityAvailable.ts
Due: prettier --write

Simplify PoolFactory code
  contracts/src/PoolFactory.sol
  contracts/test/PoolFactory.t.sol
Due: prettier --write

Set up appropiate config - ui improvements
  .gitmodules
  contracts/foundry.lock
  contracts/foundry.toml
  contracts/scripts/create-pool.ts
  contracts/scripts/deploy-factory.ts
  contracts/scripts/set-fee.ts
  contracts/scripts/set-treasury.ts
  contracts/scripts/utils.ts
  contracts/src/Pool.sol
  contracts/src/PoolFactory.sol
  contracts/test/Pool.t.sol
  contracts/test/PoolFactory.t.sol
  contracts/test/mocks/MockLayerZeroEndpoint.sol
  packages/fast-bridge/actions/index.ts
  packages/fast-bridge/actions/public/pool.ts
  packages/fast-bridge/actions/public/poolFactory.ts
  packages/fast-bridge/actions/wallet/pool.ts
  packages/fast-bridge/contracts/pool.ts
  packages/fast-bridge/contracts/poolFactory.ts
  packages/fast-bridge/types/bridge.ts
  packages/fast-bridge/utils/pool.ts
  website/src/components/evmFeesSummary.tsx
  website/src/components/form.tsx
  website/src/components/submitButton.tsx
  website/src/hooks/useEstimateLayerZeroFees.ts
  website/src/hooks/useLiquidityAvailable.ts
  website/src/hooks/usePoolTokens.ts
Due: prettier --write

Add gh pages deployment
  .github/workflows/gh-deploy.yml
Due: none

Force deployment by updating README.md
  website/README.md
Due: prettier --write

Fix branch name on deployment workflow
  .github/copilot-instructions.md
  .github/goals.md
  .github/workflows/gh-deploy.yml
Due: prettier --write

Fix build
  packages/fast-bridge/actions/wallet/pool.ts
Due: prettier --write

Update reset form text
  website/src/components/form.tsx
Due: prettier --write

Fix token selector list not showing
  website/src/app.tsx
  website/src/components/tokenSelector/list.tsx
Due: prettier --write

Add pools list
  package-lock.json
  website/package.json
  website/src/app.tsx
  website/src/components/bridge.tsx
  website/src/components/cryptoBalance.tsx
  website/src/components/explorerLink.tsx
  website/src/components/form.tsx
  website/src/components/header.tsx
  website/src/components/pools.tsx
  website/src/components/setMaxBalance.tsx
  website/src/components/table/column.tsx
  website/src/components/table/columnHeader.tsx
  website/src/hooks/useBalance.ts
  website/src/hooks/useBridgeState.ts
  website/src/hooks/useBridgeToken.ts
  website/src/hooks/usePoolBalance.tsx
  website/src/hooks/usePoolTokens.ts
  website/src/types/token.ts
  website/src/utils/format.ts
  website/src/utils/networks.ts
  website/src/utils/tokens.ts
Due: prettier --write, better-sort-package-json

Fix build
  website/src/hooks/useLiquidityAvailable.ts
  website/src/utils/token.ts
Due: prettier --write

Add homepage
  package.json
Due: prettier --write, better-sort-package-json

Add workaround for gh pages
  website/package.json
Due: prettier --write, better-sort-package-json

Improve README
  README.md
  contracts/README.md
Due: prettier --write

Add draft version of RFC
  docs/rfc-initial-implementation.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,md,sol,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
